[flake8]
# Reporting:
count = True
statistics = True
show-source = True

# Setup flake8-import-order
application-import-names = src
import-order-style = google

# Other options:
# Final bracket should match indentation of the start of the line of the opening bracket
hang-closing = False
max-complexity = 10
max-line-length = 200
avoid-escape = False

ignore =
    E121,
    E126,
    E127,
    E128,
    E203,
    E225,
    E226,
    E231,
    E241,
    E251,

    E261,
    E265,
    E302,
    E303,
    E305,
    E402,
    E501,
    E701  # Multiple statements on one line (colon)
    E741,
    W291,
    W293,
    W391,
    W503,
    W504,
    F403,
    B007,
    B950,

exclude =
    .vscode,
    .git,
    .gitignore,
    .env,
    pycache,
    venv,
    LICENSE,
    Pipfile,
    Pipfile.lock,
    *.code-workspace,
    *.db,
    *.sql,
    *.md,
    *.sqlite3
